/*Configurações gerais*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-background: #e9e7e8;
    --color-font: #000000;
    --color-sec: #ffffff;
}

body{
    background-color: var(--color-background);
    color: var(--color-font);
    text-transform: uppercase;
}

a{
    color: var(--color-font);
    font-weight: bold;
    text-decoration: none;
}

h2{
    font-size: 3.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin: 5rem auto;
    text-align: center;
    margin-top: 5.4rem;
}

p{
    font-size: 1.25rem;
    margin: auto 1rem;
    text-align: center;
}

.section{
    margin: auto 6rem;
    padding-top: 2.4rem;
}

/*NavBar - Início*/

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

header{
    background-color: #85838385;
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque para navegadores com prefixo */
    width: 100%;
    padding: 1.5rem 4% 2rem 4%;
    position: fixed; /*Deixa o NavBar fixo*/
    top: 0;
    left: 0;
    z-index: 5;
    transition: all 0.5s;
    border-top: 0.5rem solid transparent;
}

header.rolagem{
    background-color: rgb(211, 207, 207);
}

header a{
    color: var(--color-font);
}

header a:hover{
    color: var(--color-sec)
}

header ul{
    list-style: none;
}

header ul li{
    font-size: 1.1rem;
    display: inline-block;
    margin: 0 2.5rem;
}

/*Hero*/

.hero{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__background{
    height: 30vh;
    z-index: -1;
}

/*Galeria - Projetos*/

.gallery{
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.gallery__img{
    object-position: center;
    object-fit: scale-down;
    width: 33vw;
    height: 26.68rem;
    border-radius: 45px;
    transition: all 0.5s;
}

.gallery__img:hover{
    filter: brightness(0.5)
}

.gallery__img-wrapper{
    position: relative;
    display: inline-block;
    padding: 2rem 4rem;
}

.gallery a{
    color: var(--color-font);
}

/*Sobre mim*/

#sobre{
    overflow: hidden;
    margin: auto 7rem;
}

.section__img-inline{
    float: left;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    height: 50vh;
    border: 1px solid black;
}

.section__text-inline{
    text-align: left;
    padding-right: 5rem;
}

/*Contatos*/

.contatos__outer-div{
    width: 100%;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
}

.contatos__inner-div{
    display: inline-block;
    position: relative;
    padding-bottom: 1rem;
    line-height: 3rem;
    text-align: center;
}

.contatos__inner-div p{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#contatos p{
    font-size: 1.2rem;
    font-weight: 300;
    margin: auto;
}

h3{
    font-size: 1.4rem;
}

/*Rodapé*/

.footer{
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
}